@model BlogPlatform.Models.Content
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/CSS/DetailStyle.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>@Model.Title</h1>
    <hr />
    @*<img src="~/Images/@Model.ImageName" />*@
    <div class="blogEntry">
        <article>
            <p>Author: <span>@Model.Author</span></p>
            <p>Publish Date: <span>@Model.PublishDate</span></p>
            <p>Body: <span>@Model.Body</span></p>
            <p>
                Tags:
                <ul>
                    @foreach (var tag in Model.ContentTags)
                    {
                        <li>@tag.Tag.Name</li>
                    }
                </ul>
            </p>
            <a href="/Content/Update/@Model.ContentId">Update this entry</a>
            <br />
            <a href="/Content/Delete/@Model.ContentId">Delete this entry</a>
            <br />

            <h3><a href="/Genre/Index">Return to All Entries</a></h3>
        </article>
        </div>
</body>
</html>
